/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #c7b300;
  --ifm-color-primary-dark: #787329;
  --ifm-color-primary-darker: #806c15;
  --ifm-color-primary-darkest: #868400;
  --ifm-color-primary-light: #9b7700;
  --ifm-color-primary-lighter: #9e9400;
  --ifm-color-primary-lightest: #7c7400;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffd900;
  --ifm-color-primary-dark: #af9a21;
  --ifm-color-primary-darker: #a5981f;
  --ifm-color-primary-darkest: #887d1a;
  --ifm-color-primary-light: #d5c429;
  --ifm-color-primary-lighter: #d8cd32;
  --ifm-color-primary-lightest: #ddd44f;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
